/*
 * Copyright © 2007-2011 Pippijn van Steenhoven
 * Rights to this code are documented in COPYING.
 */
@import url('code.css');

html {
	background: #eee /*url('../background.jpg') top center no-repeat*/;
}

body {
	background: #fafafa /*url('../background.jpg') top center no-repeat*/;
	font: 90% sans-serif;
	color: #444;
	line-height: 1.2em;
	margin: 20px auto;
	padding: 10px;
	max-width: 1000px;
	min-height: 900px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #bbb;
}

#actmenu {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #4088b8;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0;
}

p {
	margin: 0 15px 0.5em 10px;
}

h1 {
	font-size: 3.2em;
	line-height: 0.65em; /* XXX: IE hack */
	letter-spacing: -5px;
	margin: 0 0 20px 25px;
	color: #4187b9;
}

h1 a {
	text-transform: none;
	color: #4088b8;
}

h2 {
	font-size: 1.4em;
	color: #4088b8;
	border-bottom: 4px solid #dadada;
	padding: 0 2px 2px 5px;
	margin: 0 0 10px 0;
	letter-spacing: -1px;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #4088b8;
	border-bottom: 1px solid #dadada;
	margin: 10px 0 8px 0;
	padding: 1px 2px 2px 3px;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	color: #4088b8;
	border-bottom: 1px solid #dadada;
	margin: 10px 0 8px 0;
	padding: 1px 2px 2px 3px;
}

blockquote {
	font-size: 0.9em;
	border: 1px solid #dadada;
	margin: 20px 10px;
	padding: 8px;
}

#header {
	margin: 5px 0 0 0;
}

#slogan {
	font-size: 1.5em;
	color: #808080;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 15px 0px 10px 35px;
	line-height: 1.2em;
}

#lang {
	position: absolute;
	top: 1em;
	right: 1em;
}

#sidebar {
	float: left;
	width: 13em;
	margin: 0 0 5px 0;
	padding: 1px 0 0 0;
}

#sidebar ul {
	list-style: none;
	font-size: 0.9em;
	margin: 0;
	padding: 0 0 15px 10px;
}

#sidebar li {
	list-style: none;
	margin: 0 0 4px 0;
	padding: 0;
}

#sidebar li a {
	font-size: 1.2em;
	font-weight: bold;
	padding: 2px;
}

#sidebar ul ul {
	margin: 4px 0 3px 15px;
	line-height: 1.2em;
	padding: 0;
}

#sidebar ul ul li a {
	font-weight: normal;
}

#sidebar h2 {
	margin: 3px 0px 8px 0px;
}

#content {
	line-height: 1.5em;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-left: 13.5em;
	min-height: 753px;
}

#footer {
	clear: both;
	color: #808080;
	font-size: 0.9em;
	border-top: 4px solid #dadada;
	margin: 0 auto;
	padding: 8px 0;
	line-height: 1.6em;
	position: relative;
}

#copyright {
	position: absolute;
	top: 1em;
	right: 0;
}

#footer p {
	position: absolute;
	margin: 0;
	padding: 0;
}

#footer a {
	color: #808080;
}

.fade {
	color: #c8c8c8;
}

pre {
	font: 100% DejaVu Sans Mono, monospace;
}

.code {
	font: 90% DejaVu Sans Mono, monospace;
}

span.filename {
	font: 100% sans-serif;
}

em {
	font: 100% monospace;
}

.small {
	font: 76% Verdana, Tahoma, Arial, sans-serif;
}

td.disabled {
	color: #aaa;
}

button.menuitem {
	border: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	text-decoration: none;
	color: #4088b8;
	background-color: transparent;
	font-weight: bold;
	font-size: inherit;
}

button.selmenu {
	color: black;
	cursor: default;
}

.pass {
	background-color: #d2f5b0;
}

.fail {
	background-color: #f88;
	font-weight: bold;
}

.unresolved {
	background-color: #ffcd85;
}

.untested {
	background-color: #c9ccc4;
}

.unsupported {
	background-color: #c2dfff;
}

/* DejaGnu extensions */
.xfail {
	background-color: #e3b7eb;
}

.kfail {
	background-color: #c397cb;
}

.xpass {
	background-color: #fff494;
}

.kpass {
	background-color: #b2d590;
}

blockquote.tooltip {
	width: 10em;
}

.tooltip pre {
	display: none;
	margin-left: 4em;
	margin-top: 0px;
	padding: 2px 3px;
}

.tooltip:hover pre {
	display: inline-block;
	position: absolute;
	background: #ffb;
	border: 1px solid #cccccc;
	color: #6c6c6c;
}

td.debug {
}

td.release {
	background: #ddd;
}

ul {
	padding-left: 2.0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.centered-image {
	text-align: center;
	margin-bottom: 10px;
}
