/Makefile.in
/aclocal.m4
/amaux
/autom4te.cache
/build
/configure
/config.status
/install
/libtool
/.metadata
/workspace

Makefile

.#*
\#*

*.a
*.class
*.al
*.ao
*.dep
*.fm
*.log
*.o
.deps
.dirstamp
*.trs
*.classlib
*.jar
