/autom4te.cache
/build
/config.status
/config.log
/install
/libtool
/.metadata
/workspace

/.idea
*.iml
/out

Makefile
a.out

/.idea
*.iml
/out/

.#*
\#*

*.a
*.class
*.al
*.ao
*.asy
*.abn
*.dep
*.fm
*.log
*.o
.deps
.dirstamp
*.trs
*.classlib
*.jar
