/Makefile.in
/aclocal.m4
/amaux
/autom4te.cache
/build
/config.status
/config.log
/install
/libtool
/.metadata
/workspace

Makefile
a.out

.#*
\#*

*.a
*.class
*.al
*.ao
*.asy
*.abn
*.dep
*.fm
*.log
*.o
.deps
.dirstamp
*.trs
*.classlib
*.jar
