name: Aldor CI

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get install libgmp-dev debhelper fakeroot
    - name: build
      run: dpkg-buildpackage -b -us -uc

#  build-macos:
#    runs-on: macos-10.15

#    steps:
#    - uses: actions/checkout@v2
#    - name: build
#      run: sh ./build-macos.sh
